@model THUD_TN408.Models.ProductDetail
<tr>
    <td>
        @if (Model.Image1 != null){
            <img src="/images/products/@Model.Image1" height="50" width="50" />
        }
        @if (Model.Image2 != null)
        {
            <img src="/images/products/@Model.Image2" height="50" width="50" />
        }
        </td>
        <td class ="align-middle">
            @Html.DisplayFor(modelModel => Model.Size)
        </td>
        <td class="align-middle">
            @Html.DisplayFor(modelModel => Model.Color)
        </td>
        <td class="align-middle">
            @((Model.Gender)? "Nam" : "Nữ")
        </td>
        <td class="justify-content-center align-middle">
            <a asp-action="Edit" asp-controller="ProductDetails" asp-route-id="@Model.Id" title="Chỉnh sửa"><i class="fa fa-pen-to-square me-1 text-primary"></i></a>
            <a asp-action="Details" asp-controller="ProductDetails" asp-route-id="@Model.Id" title="Chi tiết"><i class="fa fa-circle-info me-1 text-info"></i></a>
            <a asp-action="Delete" asp-controller="ProductDetails" asp-route-id="@Model.Id" onclick="ModifyDetail(@Model.Id)" data-id="@Model.Id" title="Xóa"><i class="fa-solid fa-trash-can me-1 text-danger"></i></a>
        </td>
    </tr>
