@model THUD_TN408.Models.ProductPromotion
@if (Model != null)
{
    <tr id="ppromotion_@Model.Id">
        <td>
            @Model.Name
        </td>
        <td>
            @Model.ApplyFrom
        </td>
        <td>
            @Model.ValidTo
        </td>
        <td>
            @String.Format("{0}%", @Model.DiscountPercent)
        </td>
        @if (Model.IsActive == true)
        {
            if(Model.ApplyFrom.CompareTo(DateTime.Now) > 0){
                <td>
                    <span class="badge rounded-pill bg-info"><i class="fa fa-clock me-1"></i>Sắp diễn ra</span>
                </td>
            }else{
                if(Model.ValidTo.CompareTo(DateTime.Now) >= 0){
                    if(Model.Stock > 0){
                        <td>
                            <span class="badge rounded-pill bg-success"><i class="fa fa-check me-1"></i>Đang diễn ra</span>
                        </td>
                    }else{
                        <td>
                            <span class="badge rounded-pill bg-danger"><i class="fa fa-close me-1"></i>Hết lượt sử dụng</span>
                        </td>
                    }
            
                }else{
                    <td>
                        <span class="badge rounded-pill bg-dark"><i class="fa fa-close me-1"></i>Đã kết thúc</span>
                    </td>
                }
            }
        }
        else
        {
            <td>
                <span class="badge rounded-pill bg-dark"><i class="fa fa-close me-1"></i>Ngừng áp dụng</span>
            </td>
        }
        <td>
            <div class="btn-group dropdown text-black">
                <button type="button" class="btn btn-sm dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    Tùy chọn
                </button>
                <ul class="dropdown-menu">
                    <a class="dropdown-item" asp-action="Edit" asp-controller="ProductPromotions" asp-route-id="@Model.Id"><i class="fa fa-pen-to-square me-1 text-primary"></i>Chỉnh sửa</a>
			        <a class="dropdown-item" asp-action="Details" asp-controller="ProductPromotions" asp-route-id="@Model.Id"><i class="fa fa-circle-info me-1 text-info"></i>Chi tiết</a>
			        <a class="dropdown-item" asp-action="DeleteAsync" asp-controller="ProductPromotions" asp-route-id="@Model.Id" onclick="ModifyPPromotion()" data-id="@Model.Id"><i class="fa-solid fa-trash-can me-1 text-danger"></i>Xóa</a>
                </ul>
            </div>
        </td>
    </tr>
}