@using Microsoft.AspNetCore.Authorization
@using THUD_TN408.Authorization
@inject IAuthorizationService AuthorizationService

<aside id="sidebar" class="sidebar">
    <ul class="sidebar-nav" id="sidebar-nav">

        <li class="nav-item">
            <a class="nav-link @(((string?)ViewData["page"]!="dashboard")?"collapsed" : "")" href="/Admin/HomePage/Index">
                <i class="fa fa-house"></i>
                <span>Dashboard</span>
            </a>
        </li>

        @if ((AuthorizationService.AuthorizeAsync(User, Permissions.StaffAccounts.View)).Result.Succeeded){
            <li class="nav-item">
                <a class="nav-link @((((string?)ViewData["page"])?.Contains("accounts") == true)?"":"collapsed")" asp-action="Index" asp-controller="ManageAccounts">
                    <i class="fa fa-user-gear"></i><span>Quản lí tài khoản</span>
                </a>
            </li>
        }
        
        @if ((AuthorizationService.AuthorizeAsync(User, Permissions.Orders.View)).Result.Succeeded) {
            <li class="nav-item">
                <a class="nav-link @((((string?)ViewData["page"])?.Contains("orders") == true)?"":"collapsed")" data-bs-target="#order-nav" data-bs-toggle="collapse" href="#">
                    <i class="fa fa-basket-shopping"></i><span>Quản lí đơn hàng</span><i class="fa-solid fa-chevron-right ms-auto"></i>
                </a>
                <ul id="order-nav" class="nav-content collapse @((((string?)ViewData["page"])?.Contains("orders") == true)?"show":"")" data-bs-parent="#sidebar-nav">
                    <li>
                        <a href="/Admin/Orders" class="@(((string?)ViewData["page"]=="orders")? "active" : "")">
                            <i class="fa fa-circle"></i><span>Danh sách</span>
                        </a>
                    </li>
                    <li>
                        <a href="/Admin/Orders/Statistic" class="@(((string?)ViewData["page"]=="orders_statistic")? "active" : "")">
                            <i class="fa fa-circle"></i><span>Thống kê</span>
                        </a>
                    </li>
                </ul>
            </li>
        }
        
        @if ((AuthorizationService.AuthorizeAsync(User, Permissions.Products.View)).Result.Succeeded) {
            <li class="nav-item">
                <a class="nav-link @((((string?)ViewData["page"])?.Contains("products") == true)?"":"collapsed")" data-bs-target="#product-nav" data-bs-toggle="collapse" href="#">
                    <i class="fa fa-store"></i><span>Quản lí sản phẩm</span><i class="fa-solid fa-chevron-right ms-auto"></i>
                </a>
                <ul id="product-nav" class="nav-content collapse @((((string?)ViewData["page"])?.Contains("products") == true)?"show":"")" data-bs-parent="#sidebar-nav">
                    <li>
                        <a href="/Admin/Products" class="@(((string?)ViewData["page"]=="products")? "active" : "")">
                            <i class="fa fa-circle"></i><span>Danh sách</span>
                        </a>
                    </li>
                    @if ((AuthorizationService.AuthorizeAsync(User, Permissions.Products.Create)).Result.Succeeded)
                    {
                        <li>
                            <a href="/Admin/Products/Create" class="@(((string?)ViewData["page"]=="products_create")? "active" : "")">
                                <i class="fa fa-circle"></i><span>Thêm mới</span>
                            </a>
                        </li>
                    }
                </ul>
            </li>
        }

        @if ((AuthorizationService.AuthorizeAsync(User, Permissions.Categories.View)).Result.Succeeded) {
            <li class="nav-item">
                <a class="nav-link @((((string?)ViewData["page"])?.Contains("categories") == true)?"":"collapsed")" data-bs-target="#category-nav" data-bs-toggle="collapse" href="#">
                    <i class="fa fa-bars-staggered"></i><span>Quản lí danh mục</span><i class="fa-solid fa-chevron-right ms-auto"></i>
                </a>
                <ul id="category-nav" class="nav-content collapse @((((string?)ViewData["page"])?.Contains("categories") == true)?"show":"")" data-bs-parent="#sidebar-nav">
                    <li>
                        <a href="/Admin/Categories" class="@(((string?)ViewData["page"]=="categories")? "active" : "")">
                            <i class="fa fa-circle"></i><span>Danh sách</span>
                        </a>
                    </li>
                    @if ((AuthorizationService.AuthorizeAsync(User, Permissions.Categories.Create)).Result.Succeeded)
                    {
                        <li>
                            <a href="/Admin/Categories/Create" class="@(((string?)ViewData["page"]=="categories_create")? "active" : "")">
                                <i class="fa fa-circle"></i><span>Thêm mới</span>
                            </a>
                        </li>
                    }
                </ul>
            </li>
        }

        @if ((AuthorizationService.AuthorizeAsync(User, Permissions.Warehouses.View)).Result.Succeeded)
        {
            <li class="nav-item">
                <a class="nav-link @((((string?)ViewData["page"])?.Contains("warehouses") == true)?"":"collapsed")" data-bs-target="#warehouse-nav" data-bs-toggle="collapse" href="#">
                <i class="fa fa-warehouse"></i><span>Quản lí kho</span><i class="fa-solid fa-chevron-right ms-auto"></i>
                </a>
                <ul id="warehouse-nav" class="nav-content collapse @((((string?)ViewData["page"])?.Contains("warehouses") == true)?"show":"")" data-bs-parent="#sidebar-nav">
                    <li>
                        <a href="/Admin/Warehouses" class="@(((string?)ViewData["page"]=="warehouses")? "active" : "")">
                            <i class="fa fa-circle"></i><span>Danh sách kho</span>
                        </a>
                    </li>
                    <li>
                        <a href="/Admin/Warehouses/DetailStockIndex" class="@(((string?)ViewData["page"]=="warehouses_details")? "active" : "")">
                            <i class="fa fa-circle"></i><span>Chi tiết tồn kho</span>
                        </a>
                    </li>
                    <li>
                        <a href="/Admin/ImportNotes" class="@(((string?)ViewData["page"]=="warehouses_imports")? "active" : "")">
                            <i class="fa fa-circle"></i><span>Danh sách phiếu nhập</span>
                        </a>
                    </li>
                </ul>
            </li>
        }

        @if ((AuthorizationService.AuthorizeAsync(User, Permissions.Promotions.View)).Result.Succeeded) {
            <li class="nav-item">
                <a class="nav-link @((((string?)ViewData["page"])?.Contains("promotions") == true)?"":"collapsed")" data-bs-target="#promotion-nav" data-bs-toggle="collapse" href="#">
                    <i class="fa fa-percent"></i><span>Quản lí khuyến mãi</span><i class="fa-solid fa-chevron-right ms-auto"></i>
                </a>
                <ul id="promotion-nav" class="nav-content collapse @((((string?)ViewData["page"])?.Contains("promotions") == true)?"show":"")" data-bs-parent="#sidebar-nav">
                    <li>
                        <a href="/Admin/OrderPromotions" class="@(((string?)ViewData["page"]=="opromotions")? "active" : "")">
                            <i class="fa fa-circle"></i><span>Khuyến mãi cho đơn hàng</span>
                        </a>
                    </li>
                    <li>
                        <a href="/Admin/ProductPromotions" class="@(((string?)ViewData["page"]=="ppromotions")? "active" : "")">
                            <i class="fa fa-circle"></i><span>Khuyến mãi cho sản phẩm</span>
                        </a>
                    </li>
                </ul>
            </li>
        }

        @if ((AuthorizationService.AuthorizeAsync(User, Permissions.Payments.View)).Result.Succeeded) {
            <li class="nav-item">
                <a class="nav-link @((((string?)ViewData["page"])?.Contains("payments") == true)?"":"collapsed")" data-bs-target="#payment-nav" data-bs-toggle="collapse" href="#">
                    <i class="fa fa-wallet"></i><span>Quản lí thanh toán</span><i class="fa-solid fa-chevron-right ms-auto"></i>
                </a>
                <ul id="payment-nav" class="nav-content collapse @((((string?)ViewData["page"])?.Contains("payments") == true)?"show":"")" data-bs-parent="#sidebar-nav">
                    <li>
                        <a href="/Admin/Payments" class="@(((string?)ViewData["page"]=="payments")? "active" : "")">
                            <i class="fa fa-circle"></i><span>Danh sách</span>
                        </a>
                    </li>
                    <li>
                        <a href="/Admin/Payments/Create" class="@(((string?)ViewData["page"]=="payments_create")? "active" : "")">
                            <i class="fa fa-circle"></i><span>Thống kê</span>
                        </a>
                    </li>
                </ul>
            </li>
        }

        @if ((AuthorizationService.AuthorizeAsync(User, Permissions.Producers.View)).Result.Succeeded)
        {
            <li class="nav-item">
                <a class="nav-link @((((string?)ViewData["page"])?.Contains("producers") == true)?"":"collapsed")" data-bs-target="#producer-nav" data-bs-toggle="collapse" href="#">
                    <i class="fas fa-database"></i><span>Quản lí nhà cung cấp</span><i class="fa-solid fa-chevron-right ms-auto"></i>
                </a>
                <ul id="producer-nav" class="nav-content collapse @((((string?)ViewData["page"])?.Contains("producers") == true)?"show":"")" data-bs-parent="#sidebar-nav">
                    <li>
                        <a href="/Admin/Producers" class="@(((string?)ViewData["page"]=="producers")? "active" : "")">
                            <i class="fa fa-circle"></i><span>Danh sách</span>
                        </a>
                    </li>
                    @if ((AuthorizationService.AuthorizeAsync(User, Permissions.Producers.Create)).Result.Succeeded)
                    {
                        <li>
                            <a href="/Admin/Producers/Create" class="@(((string?)ViewData["page"]=="producers_create")? "active" : "")">
                                <i class="fa fa-circle"></i><span>Thêm mới</span>
                            </a>
                        </li>
                    }
                </ul>
            </li>
        }

        @if ((AuthorizationService.AuthorizeAsync(User, Permissions.Shipments.View)).Result.Succeeded)
        {
            <li class="nav-item">
                <a class="nav-link @((((string?)ViewData["page"])?.Contains("shipments") == true)?"":"collapsed")" data-bs-target="#shipment-nav" data-bs-toggle="collapse" href="#">
                    <i class="fas fa-truck"></i><span>Quản lí nhà vận chuyển</span><i class="fa-solid fa-chevron-right ms-auto"></i>
                </a>
                <ul id="shipment-nav" class="nav-content collapse @((((string?)ViewData["page"])?.Contains("shipments") == true)?"show":"")" data-bs-parent="#sidebar-nav">
                    <li>
                        <a href="/Admin/Shipments" class="@(((string?)ViewData["page"]=="shipments")? "active" : "")">
                            <i class="fa fa-circle"></i><span>Danh sách</span>
                        </a>
                    </li>
                    @if ((AuthorizationService.AuthorizeAsync(User, Permissions.Shipments.Create)).Result.Succeeded)
                    {
                        <li>
                            <a href="/Admin/Shipments/Create" class="@(((string?)ViewData["page"]=="shipments_create")? "active" : "")">
                                <i class="fa fa-circle"></i><span>Thêm mới</span>
                            </a>
                        </li>
                    }
                </ul>
            </li>
        }
    </ul>
</aside>